[Unit]
Description=cubefs master
After=network.target

[Service]
Type=simple
User=root
ExecStart={{ cubefs_bin }}/bin/cfs-server -f -c {{ cubefs_conf }}/master.json
Restart=on-failure

[Install]
WantedBy=multi-user.target
